/.vs
/build.bat
/packages/
/RombaSharp/bin/
/RombaSharp/obj/
/RombaSharp/RombaSharp.csproj.user
/SabreTools/bin/
/SabreTools/obj/
/SabreTools/SabreTools.csproj.user
/SabreTools.Library/bin/
/SabreTools.Library/obj/
/SabreTools.userprefs
