/.vs
/DATabase/obj
/DATabase/obj/Debug
/DATabase/obj/Release
/DATFromDir/obj
/DATFromDir/obj/Debug
/DATFromDir/obj/Release
/DatSplit/obj
/DatSplit/obj/Debug
/DatSplit/obj/Release
/DatToMiss/obj
/DatToMiss/obj/Debug
/DatToMiss/obj/Release
/Deheader/obj
/Deheader/obj/Debug
/Deheader/obj/Release
/DiffDat/obj
/DiffDat/obj/Debug
/DiffDat/obj/Release
/SabreHelper/obj
/SabreHelper/obj/Debug
/SabreHelper/obj/Release
/SabreToolsUI/obj
/SabreToolsUI/obj/Debug
/SabreToolsUI/obj/Release
/SingleGame/obj
/SingleGame/obj/Debug
/SingleGame/obj/Release