/.vs
/CommandVault/obj
/CommandVault/obj/Debug
/CommandVault/obj/Release
/Deheader/obj
/Deheader/obj/Debug
/Deheader/obj/Release
/SabreTools/obj
/SabreTools/obj/Debug
/SabreTools/obj/Release
/SabreTools.Helper/obj
/SabreTools.Helper/obj/Debug
/SabreTools.Helper/obj/Release
/SabreToolsUI/obj
/SabreToolsUI/obj/Debug
/SabreToolsUI/obj/Release
/SimpleSort/obj
/SimpleSort/obj/Debug
/SimpleSort/obj/Release