<?xml version="1.0" encoding="utf-8" ?>

<romba>
	<general>
		<workers>4</workers>
		<logdir>logs</logdir>
		<tmpdir>tmp</tmpdir>
		<webdir>web</webdir>
			<baddir>bad</baddir>
			<verbosity>1</verbosity>
			<cores>4</cores>
		</general>
	<index>
		<dats>dats</dats>
		<db>db</db>
	</index>
	<depots>
		<depot>
			<root>depot</root>
			<maxsize>40000</maxsize>
			<online>true</online>
		</depot>
	</depots>
	<server>
		<port>4003</port>
	</server>
</romba>